{% extends 'base.html' %} 

{% block content %}

<style>
    /* Gaya CSS Anda dimulai di sini */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    
    }
    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #BFFF55;
    }

    .box
    {
        position: relative;
        width: 480px;
        height: 500px;
        background: #1c1c1c;
        border-radius: 8px;

    }
    .box form
    {
        color: #fff;
        font-weight: 500;
        text-allign: center;
        letter-spacing: 0.1em;
    }



</style>


<h1>Add New Product</h1>

<body>
    <div class="box">
        <form>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Add Product"/>
                        </td>
                    </tr>
                </table>
        </form>
    </div>
<body>

{% endblock %}